Repository Zer0Waste/ZeroWaste, pull requests merged in 2025-04, with the labels that each got.

#206 Fix - Features #179, #180, #181
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/broadcast/BroadcastsController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/broadcasts/GetBroadcastDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/BroadcastEmailsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/BroadcastListsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/CreateBroadcastListService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/DeleteBroadcastListService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/GetBroadcastListByIdService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/GetBroadcastListsService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/UpdateBroadcastListService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/exceptions/BroadcastListNotFoundException.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/exceptions/BroadcastListProductsNotFoundException.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/broadcasts/BroadcastsControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/CreateBroadcastListServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/DeleteBroadcastListServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/GetBroadcastListByIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/GetBroadcastListsServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/UpdateBroadcastListServiceTest.java
Labels: refactor, backend, tests

#207 Fix/#111 - Inconsistency on login page
  frontend/ZeroWaste/src/app/auth/login/login/login.component.ts
Labels: bug, refactor

#208 Feature #185 and Fixing feature #174
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  frontend/ZeroWaste/src/app/app.routes.ts
  frontend/ZeroWaste/src/app/components/navbar/navbar.component.ts
  frontend/ZeroWaste/src/app/pages/broadcasts/broadcast.routes.ts
  frontend/ZeroWaste/src/app/pages/broadcasts/broadcast.ts
  frontend/ZeroWaste/src/app/pages/broadcasts/list-broadcast-page/list-broadcast-page.component.css
  frontend/ZeroWaste/src/app/pages/broadcasts/list-broadcast-page/list-broadcast-page.component.html
  frontend/ZeroWaste/src/app/pages/broadcasts/list-broadcast-page/list-broadcast-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/broadcasts/list-broadcast-page/list-broadcast-page.component.ts
  frontend/ZeroWaste/src/app/pages/products/detail-product-page/detail-product-page.component.ts
  frontend/ZeroWaste/src/app/services/BroadcastService.ts
  frontend/ZeroWaste/src/app/services/ProductService.ts
Labels: enhancement, good first issue, backend

#210 Feature/#184
  frontend/ZeroWaste/src/app/pages/broadcasts/list-broadcast-page/list-broadcast-page.component.ts
  frontend/ZeroWaste/src/app/services/BroadcastService.ts
Labels: enhancement, frontend

#209 Feature/#187
  backend/zerowaste/pom.xml
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/broadcast/BroadcastsController.java
  backend/zerowaste/src/main/java/com/zerowaste/models/broadcast/BroadcastEmail.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/TriggerBroadcastService.java
  backend/zerowaste/src/main/resources/application-prod.properties
  backend/zerowaste/src/main/resources/application.properties
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/broadcasts/BroadcastsControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/CreateBroadcastListServiceTest.java
Labels: enhancement, backend

#211 Feature/#187-2
  backend/zerowaste/src/main/java/com/zerowaste/repositories/BroadcastListsRepository.java
  frontend/ZeroWaste/public/send.png
  frontend/ZeroWaste/src/app/pages/broadcasts/list-broadcast-page/list-broadcast-page.component.html
  frontend/ZeroWaste/src/app/pages/broadcasts/list-broadcast-page/list-broadcast-page.component.ts
  frontend/ZeroWaste/src/app/services/BroadcastService.ts
Labels: bug, enhancement, backend

#212 Fix(#187): updating modal name call
  frontend/ZeroWaste/src/app/pages/broadcasts/list-broadcast-page/list-broadcast-page.component.ts
Labels: enhancement, frontend

#213 Feature/#182
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/ProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/GetProductsRequestQueryDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/GetProductsResponseBodyDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/GetProductService.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/GetProductServiceTest.java
  frontend/ZeroWaste/src/app/components/form/select/select.component.ts
  frontend/ZeroWaste/src/app/pages/broadcasts/broadcast.routes.ts
  frontend/ZeroWaste/src/app/pages/broadcasts/broadcast.ts
  frontend/ZeroWaste/src/app/pages/broadcasts/create-broadcast-list-form-page/create-broadcast-list-form-page.component.css
  frontend/ZeroWaste/src/app/pages/broadcasts/create-broadcast-list-form-page/create-broadcast-list-form-page.component.html
  frontend/ZeroWaste/src/app/pages/broadcasts/create-broadcast-list-form-page/create-broadcast-list-form-page.component.ts
  frontend/ZeroWaste/src/app/services/BroadcastService.ts
Labels: enhancement, frontend, backend

#220 Feature #169 - Relatórios de desperdício
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/ProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/WasteByCategoryDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/WasteReportBodyDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/WasteReportQueryDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/ProductsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/GetWasteReportService.java
Labels: enhancement, backend

#222 Features #216 #217 #218
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/PromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/PromotionsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionPercentageService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionProductService.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/GetWasteReportServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionPercentageServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionProductServiceTest.java
  frontend/ZeroWaste/src/app/pages/donations_points/list-donation-point-page/list-donation-point-page.component.html
  frontend/ZeroWaste/src/app/pages/promotions/promotions-listing/promotions-listing.component.html
  frontend/ZeroWaste/src/app/pages/promotions/promotions-listing/promotions-listing.component.ts
  frontend/ZeroWaste/src/app/services/PromotionService.ts
Labels: refactor, tests

#223 Testes e refatorações
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/DeletePromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/EditPromotionService.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/products/ProductControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/models/BroadcastEmailTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/models/ProductTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/models/PromotionTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/CreateBroadcastListServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/GetBroadcastListByIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/EditProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/GetProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/DeletePromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/EditPromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionPercentageServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionsIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/users/AuthenticateUserServiceTest.java
Labels: backend, tests

#224 Feature/#170
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/ProductController.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/broadcasts/BroadcastsControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/products/ProductControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/DeletePromotionServiceTest.java
  frontend/ZeroWaste/package-lock.json
  frontend/ZeroWaste/package.json
  frontend/ZeroWaste/src/app/app.routes.ts
  frontend/ZeroWaste/src/app/components/navbar/navbar.component.ts
  frontend/ZeroWaste/src/app/pages/reports/reports.routes.ts
  frontend/ZeroWaste/src/app/pages/reports/waste-report.ts
  frontend/ZeroWaste/src/app/pages/reports/waste-reports-page/waste-reports-page.component.css
  frontend/ZeroWaste/src/app/pages/reports/waste-reports-page/waste-reports-page.component.html
  frontend/ZeroWaste/src/app/pages/reports/waste-reports-page/waste-reports-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/reports/waste-reports-page/waste-reports-page.component.ts
  frontend/ZeroWaste/src/app/services/ReportsService.ts
Labels: enhancement, refactor, frontend, backend

#226 Modificando caminho do relatório do JaCoCo
  .github/workflows/backend.yml
Labels: ci/cd

#225 refactor (#215): display category names in Portuguese in the form
  frontend/ZeroWaste/src/app/pages/products/create-product-form-page/create-product-form-page.component.html
  frontend/ZeroWaste/src/app/pages/products/update-product-form-page/update-product-form-page.component.html
Labels: enhancement, frontend

#227 Modificando o caminho do JaCoCo novamente
  .github/workflows/backend.yml
Labels: ci/cd

#229 Modificando o caminho do JaCoCo e adicionando o plugin maven-compiler-plugin
  .github/workflows/backend.yml
  backend/zerowaste/pom.xml
Labels: ci/cd

#230 Modificando job do JaCoCo
  .github/workflows/backend.yml
Labels: ci/cd

#231 Fixes & Refactors
  frontend/ZeroWaste/public/favicon.ico
  frontend/ZeroWaste/public/zerowaste-logo.png
  frontend/ZeroWaste/src/app/components/modal/modal.component.css
  frontend/ZeroWaste/src/app/components/navbar/navbar.component.css
  frontend/ZeroWaste/src/app/components/navbar/navbar.component.html
  frontend/ZeroWaste/src/app/components/navbar/navbar.component.ts
  frontend/ZeroWaste/src/app/home/home.component.css
  frontend/ZeroWaste/src/app/home/home.component.html
  frontend/ZeroWaste/src/app/pages/donations_points/list-donation-point-page/list-donation-point-page.component.css
  frontend/ZeroWaste/src/app/pages/promotions/promotions.routes.ts
  frontend/ZeroWaste/src/index.html
Labels: refactor, frontend

#232 Refatorações - SonarCloud
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/PromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/GetBroadcastListByIdService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/GetProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/GetWasteReportService.java
  backend/zerowaste/src/main/java/com/zerowaste/utils/validation/valid_enum/EnumValidator.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/products/ProductControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/promotions/PromotionControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/models/BroadcastEmailTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/models/ProductTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/models/PromotionTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/models/UserTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/GetBroadcastListsServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/GetWasteReportServiceTest.java
Labels: refactor, backend, tests
