Repository Zer0Waste/ZeroWaste, pull requests merged in 2025-03, with the labels that each got.

#44 Task/#41
  backend/zerowaste/src/main/java/com/zerowaste/models/product/Product.java
  backend/zerowaste/src/main/java/com/zerowaste/models/product/ProductCategory.java
Labels: good first issue

#68 Feature/#33
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/CreateProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/CreateProductDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/models/product/Product.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/ProductsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/CreateProductService.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/CreateProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/users/RegisterUserServiceTest.java
Labels: enhancement

#69 Features: #35, #37, #39, #42
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/DeleteProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/EditProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/GetProductIdController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/GetProductsController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/EditProductDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/ProductsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/ProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/exceptions/ProductNotFoundException.java
  frontend/ZeroWaste/package-lock.json
  frontend/ZeroWaste/package.json
  node_modules/jwt-decode/LICENSE
  node_modules/jwt-decode/README.md
  node_modules/jwt-decode/build/cjs/index.d.ts
  node_modules/jwt-decode/build/cjs/index.js
  node_modules/jwt-decode/build/cjs/package.json
  node_modules/jwt-decode/build/esm/index.d.ts
  node_modules/jwt-decode/build/esm/index.js
  node_modules/jwt-decode/package.json
Labels: enhancement

#71 Feature/#57 - Promotion Modeling
  backend/zerowaste/src/main/java/com/zerowaste/models/product/Product.java
  backend/zerowaste/src/main/java/com/zerowaste/models/promotion/Promotion.java
Labels: enhancement, backend

#73 Features #47, #53, #55
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/EditProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/CreatePromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionIdController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionsController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/EditProductDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/promotions/AddPromotionDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/promotions/PromotionDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/models/promotion/Promotion.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/PromotionsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/ProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/PromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/exceptions/PromotionNotFoundException.java
Labels: enhancement, backend

#74 Feature/#34 - Create Product Form Page
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/config/http/HttpWebConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/CreateProductDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/models/product/Product.java
  frontend/ZeroWaste/src/app/app.routes.ts
  frontend/ZeroWaste/src/app/auth/register/register.component.ts
  frontend/ZeroWaste/src/app/components/form/button/button.component.css
  frontend/ZeroWaste/src/app/components/form/button/button.component.spec.ts
  frontend/ZeroWaste/src/app/components/form/button/button.component.ts
  frontend/ZeroWaste/src/app/components/form/input/input.component.css
  frontend/ZeroWaste/src/app/components/form/input/input.component.spec.ts
  frontend/ZeroWaste/src/app/components/form/input/input.component.ts
  frontend/ZeroWaste/src/app/components/form/select/select.component.css
  frontend/ZeroWaste/src/app/components/form/select/select.component.spec.ts
  frontend/ZeroWaste/src/app/components/form/select/select.component.ts
  frontend/ZeroWaste/src/app/components/form/textarea/textarea.component.css
  frontend/ZeroWaste/src/app/components/form/textarea/textarea.component.spec.ts
  frontend/ZeroWaste/src/app/components/form/textarea/textarea.component.ts
  frontend/ZeroWaste/src/app/pages/products/create-product-form-page/create-product-form-page.component.css
  frontend/ZeroWaste/src/app/pages/products/create-product-form-page/create-product-form-page.component.html
  frontend/ZeroWaste/src/app/pages/products/create-product-form-page/create-product-form-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/products/create-product-form-page/create-product-form-page.component.ts
  frontend/ZeroWaste/src/app/pages/products/products.routes.ts
  frontend/ZeroWaste/src/app/services/ValidationErrorMessage.ts
  frontend/ZeroWaste/src/app/utils/contants.ts
  frontend/ZeroWaste/src/styles.css
Labels: enhancement, frontend, backend

#75 Features/#49 & #51 - PUT/DELETE Promotion endpoints
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/DeletePromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/EditPromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/promotions/EditPromotionDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/DeletePromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/EditPromotionService.java
Labels: enhancement, backend

#80 Feature/#38 - Modal Component
  frontend/ZeroWaste/src/app/components/modal/modal.component.css
  frontend/ZeroWaste/src/app/components/modal/modal.component.html
  frontend/ZeroWaste/src/app/components/modal/modal.component.spec.ts
  frontend/ZeroWaste/src/app/components/modal/modal.component.ts
  frontend/ZeroWaste/src/app/home/home.component.html
  frontend/ZeroWaste/src/app/home/home.component.ts
Labels: enhancement, good first issue, frontend

#82 refactor(Zer0Waste#58): refactor usage of List to Set, add getters/setters for promotions in Product and fix edit method
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/EditProductDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/models/product/Product.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/ProductService.java
Labels: enhancement, refactor, backend

#76 Features/#62 & #63 - filters percentage and productsIds endpoints get Promotion
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionPercentageController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionProductIdController.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/PromotionsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/PromotionService.java
Labels: enhancement, backend

#81 Feature/#45 - Add daysToExpire Query Parameter to GET /products
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/GetProductsController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/GetProductsDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/ProductsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/ProductService.java
Labels: enhancement, backend

#83 Feature/#48 - Create Promotions Form Page
  frontend/ZeroWaste/src/app/app.routes.ts
  frontend/ZeroWaste/src/app/components/form/input-with-symbol/input-with-symbol.component.css
  frontend/ZeroWaste/src/app/components/form/input-with-symbol/input-with-symbol.component.spec.ts
  frontend/ZeroWaste/src/app/components/form/input-with-symbol/input-with-symbol.component.ts
  frontend/ZeroWaste/src/app/pages/promotions/create-promotion-form-page/create-promotion-form-page.component.css
  frontend/ZeroWaste/src/app/pages/promotions/create-promotion-form-page/create-promotion-form-page.component.html
  frontend/ZeroWaste/src/app/pages/promotions/create-promotion-form-page/create-promotion-form-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/promotions/create-promotion-form-page/create-promotion-form-page.component.ts
  frontend/ZeroWaste/src/app/pages/promotions/promotions.routes.ts
  frontend/ZeroWaste/src/app/services/ValidationErrorMessage.ts
Labels: enhancement, frontend

#84 Refactor - Dividing services
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/DeleteProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/EditProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/GetProductIdController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/GetProductsController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/CreatePromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionIdController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionPercentageController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionProductIdController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionsController.java
  backend/zerowaste/src/main/java/com/zerowaste/models/product/Product.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/DeleteProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/EditProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/GetProductIdService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/GetProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/CreatePromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionPercentageService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionsIdService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/PromotionService.java
  frontend/ZeroWaste/src/app/auth/register/register.component.ts
Labels: enhancement, frontend, backend

#87 merge pull request #86 from caiogmrocha/feature#46
  backend/zerowaste/src/main/java/com/zerowaste/repositories/ProductsRepository.java
  frontend/ZeroWaste/src/app/components/card/card.component.css
  frontend/ZeroWaste/src/app/components/card/card.component.spec.ts
  frontend/ZeroWaste/src/app/components/card/card.component.ts
  frontend/ZeroWaste/src/app/components/modal/modal.component.css
  frontend/ZeroWaste/src/app/components/modal/modal.component.html
  frontend/ZeroWaste/src/app/components/modal/modal.component.ts
  frontend/ZeroWaste/src/app/pages/products/list-product-page/list-product-page.component.css
  frontend/ZeroWaste/src/app/pages/products/list-product-page/list-product-page.component.html
  frontend/ZeroWaste/src/app/pages/products/list-product-page/list-product-page.component.ts
  frontend/ZeroWaste/src/app/pages/promotions/create-promotion-form-page/create-promotion-form-page.component.ts
  frontend/ZeroWaste/src/app/services/ProductService.ts
Labels: enhancement

#88 Fix - Adding ID field to PromotionDTO
  backend/zerowaste/src/main/java/com/zerowaste/dtos/promotions/PromotionDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionService.java
Labels: enhancement, backend

#90 Fix/#50 - update Products promotionPrice
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/EditPromotionService.java
Labels: bug

#92 Refactor/(Home Page) - Update Home Page
  frontend/ZeroWaste/src/app/home/home.component.css
  frontend/ZeroWaste/src/app/home/home.component.html
Labels: refactor, frontend

#93 Fix/AuthGuard
  backend/zerowaste/src/main/java/com/zerowaste/ZerowasteApplication.java
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionPercentageController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionProductIdController.java
  frontend/ZeroWaste/src/app/auth/auth.guard.ts
  frontend/ZeroWaste/src/app/auth/auth.service.ts
  frontend/ZeroWaste/src/app/components/modal/modal.component.ts
  frontend/ZeroWaste/src/app/pages/products/create-product-form-page/create-product-form-page.component.ts
  frontend/ZeroWaste/src/app/pages/products/list-product-page/list-product-page.component.ts
  frontend/ZeroWaste/src/app/pages/products/products.routes.ts
  frontend/ZeroWaste/src/app/pages/products/update-product-form-page/update-product-form-page.component.html
  frontend/ZeroWaste/src/app/pages/products/update-product-form-page/update-product-form-page.component.ts
  frontend/ZeroWaste/src/app/pages/promotions/create-promotion-form-page/create-promotion-form-page.component.ts
  frontend/ZeroWaste/src/app/pages/promotions/detail-promotion-page/detail-promotion-page.component.ts
  frontend/ZeroWaste/src/app/pages/promotions/promotions-listing/promotions-listing.component.ts
  frontend/ZeroWaste/src/app/pages/promotions/update-promotion-form-page/update-promotion-form-page.component.ts
  frontend/ZeroWaste/src/app/services/ProductService.ts
  frontend/ZeroWaste/src/app/services/PromotionService.ts
  frontend/ZeroWaste/src/app/services/ValidationErrorMessage.ts
  frontend/ZeroWaste/src/app/utils/constants.ts
  frontend/ZeroWaste/src/app/utils/validators/future-date.ts
Labels: bug, frontend, backend

#96 Fix - Frontend inconsistency
  frontend/ZeroWaste/src/app/pages/promotions/detail-promotion-page/detail-promotion-page.component.html
  frontend/ZeroWaste/src/app/pages/promotions/detail-promotion-page/detail-promotion-page.component.ts
  frontend/ZeroWaste/src/app/pages/promotions/promotions-listing/promotions-listing.component.html
Labels: bug, frontend

#105 Task/#97 - Setup backend.dockerfile
  .gitignore
  backend/zerowaste/src/main/resources/application-prod.properties
  docker/backend.dockerfile
Labels: backend, ci/cd

#109 Deploy Backend
  .github/workflows/backend.yml
  .gitignore
  backend/zerowaste/src/main/resources/application-prod.properties
  docker/backend.dockerfile
Labels: backend, ci/cd

#112 Feature #98 - Configurando Docker para o Angular
  docker/.dockerignore
  docker/frontend.dockerfile
  docker/nginx.conf
Labels: frontend, ci/cd

#113 Feature/#103 - Ambiente de testes backend
  .github/workflows/backend.yml
  backend/zerowaste/pom.xml
  backend/zerowaste/src/main/resources/application-test.properties
Labels: backend, ci/cd

#117 Build - Adicionando "workflow_dispatch" trigger
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/test-backend.yml
  .github/workflows/teste-frontend.yml
Labels: ci/cd

#118 Chore/#110 - Remover node_modules da root
  node_modules/jwt-decode/LICENSE
  node_modules/jwt-decode/README.md
  node_modules/jwt-decode/build/cjs/index.d.ts
  node_modules/jwt-decode/build/cjs/index.js
  node_modules/jwt-decode/build/cjs/package.json
  node_modules/jwt-decode/build/esm/index.d.ts
  node_modules/jwt-decode/build/esm/index.js
  node_modules/jwt-decode/package.json
  package-lock.json
  package.json
Labels: structure

#127 Feature/#121 - Navbar Component
  frontend/ZeroWaste/src/app/app.component.ts
  frontend/ZeroWaste/src/app/component/navbar/navbar.component.css
  frontend/ZeroWaste/src/app/component/navbar/navbar.component.html
  frontend/ZeroWaste/src/app/component/navbar/navbar.component.spec.ts
  frontend/ZeroWaste/src/app/component/navbar/navbar.component.ts
  frontend/ZeroWaste/src/app/home/home.component.html
  frontend/ZeroWaste/src/app/home/home.component.ts
Labels: enhancement, frontend

#128 Creating and configuration of unics Controllers / Removing @Autowired and creating constructors.
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/CreateProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/DeleteProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/EditProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/GetProductIdController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/GetProductsController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/ProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/CreatePromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/DeletePromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/EditPromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionIdController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionPercentageController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionProductIdController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/GetPromotionsController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/PromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/users/AuthenticateUserController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/users/CheckWhetherUserIsAuthenticated.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/users/RegisterUserController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/users/UserController.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/CreateProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/DeleteProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/EditProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/GetProductIdService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/GetProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/CreatePromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/DeletePromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/EditPromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionPercentageService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionsIdService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/users/AuthenticateUserService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/users/RegisterUserService.java
Labels: refactor, backend

#131 Removing 'final' of all injections of repositores.
  backend/zerowaste/src/main/java/com/zerowaste/services/products/CreateProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/DeleteProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/EditProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/GetProductIdService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/GetProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/CreatePromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/DeletePromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/EditPromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionPercentageService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionsIdService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/users/AuthenticateUserService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/users/RegisterUserService.java
Labels: bug, backend

#161 Feature/#149 - Modelar tabela de doações
  backend/zerowaste/src/main/java/com/zerowaste/models/donation/Donation.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/DonationsRepository.java
Labels: enhancement, backend

#162 Feautures #139, #147, #145, #141, #143
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/donations/DonationController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/donations/CreateDonationDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/donations/EditDonationDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/donations/GetDonationDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/DonationsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donations/CreateDonationService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donations/DeleteDonationService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donations/EditDonationService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donations/GetDonationIdService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donations/GetDonationService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donations/exceptions/DonationNotFoundException.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/CreateDonationServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/DeleteDonationServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/EditDonationServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/GetDonationIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/GetDonationServiceTest.java
Labels: enhancement, backend, tests

#163 Creating and configurating all service tests of products and promotions.
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/PromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/promotions/AddPromotionDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/promotions/EditPromotionDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/promotions/PromotionDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/models/promotion/Promotion.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/PromotionsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/EditPromotionService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetPromotionPercentageService.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/DeleteProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/EditProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/GetProductIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/GetProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/CreatePromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/DeletePromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/EditPromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionPercentageServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionsIdServiceTest.java
Labels: backend, tests

#164 Feature/#150, 151, 153, 157, 155, 159 - DonationPoints
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/donation_points/DonationPointsController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/donation_points/CreateDonationPointDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/donation_points/DonationPointsDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/donation_points/UpdateDonationPointDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/models/donation_point/DonationPoint.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/DonationPointsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donation_points/CreateDonationPointService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donation_points/DeleteDonationPointService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donation_points/GetDonationPointByIdService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donation_points/GetDonationPointsService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donation_points/UpdateDonationPointService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donation_points/exceptions/DonationPointNotFoundException.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donation_points/exceptions/InvalidTimePeriodException.java
Labels: enhancement, backend

#168 Creating and configurating all if, for and etc.. service tests of products and promotions.
  backend/zerowaste/src/main/java/com/zerowaste/services/products/EditProductService.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/CreateProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/DeleteProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/EditProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/GetProductIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/CreatePromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/DeletePromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/EditPromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionPercentageServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionsIdServiceTest.java
Labels: backend, tests

#171 Feat/donation-points - Create Service Tests
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donation_points/CreateDonationPointServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donation_points/DeleteDonationPointServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donation_points/GetDonationPointByIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donation_points/GetDonationPointsServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donation_points/UpdateDonationPointServiceTest.java
Labels: backend, tests

#173 Testes para controlador de doações
  backend/zerowaste/src/main/java/com/zerowaste/controllers/donations/DonationController.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donations/CreateDonationService.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/DonationControllerTest.java
Labels: backend, tests

#175 Features #165, #166, #167 and JaCoCo
  .github/workflows/backend.yml
  backend/zerowaste/pom.xml
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/ProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/models/product/Product.java
  backend/zerowaste/src/main/java/com/zerowaste/models/product/ProductStatus.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/CreateProductService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/SetProductStatusService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/exceptions/ProductNotAvaliableException.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/CreateDonationServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/EditDonationServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/SetProductStatusServiceTest.java
Labels: enhancement, backend, ci/cd, tests

#189 Feature/#176
  backend/zerowaste/src/main/java/com/zerowaste/models/broadcast/BroadcastEmail.java
  backend/zerowaste/src/main/java/com/zerowaste/models/broadcast/BroadcastList.java
  backend/zerowaste/src/main/java/com/zerowaste/models/broadcast/BroadcastListSendProtocol.java
  backend/zerowaste/src/main/java/com/zerowaste/models/broadcast/BroadcastListSendType.java
Labels: enhancement, backend

#190 Fix: BroadcastType class name
  backend/zerowaste/src/main/java/com/zerowaste/models/broadcast/BroadcastListSendType.java
Labels: bug

#191 Feat/donation-points - Create Controller Tests
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/donations_points/DonationPointsControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/products/ProductControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/promotions/PromotionControllerTest.java
Labels: backend, tests

#192 Features #140 #142 #144 #146 #150 (Donations) / #152 #154 #156 #158 #160 (Donations Points)
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  frontend/ZeroWaste/src/app/app.routes.ts
  frontend/ZeroWaste/src/app/component/navbar/navbar.component.ts
  frontend/ZeroWaste/src/app/home/home.component.html
  frontend/ZeroWaste/src/app/pages/donations/create-donation-form-page/create-donation-form-page.component.css
  frontend/ZeroWaste/src/app/pages/donations/create-donation-form-page/create-donation-form-page.component.html
  frontend/ZeroWaste/src/app/pages/donations/create-donation-form-page/create-donation-form-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/donations/create-donation-form-page/create-donation-form-page.component.ts
  frontend/ZeroWaste/src/app/pages/donations/detail-donation-page/detail-donation-page.component.css
  frontend/ZeroWaste/src/app/pages/donations/detail-donation-page/detail-donation-page.component.html
  frontend/ZeroWaste/src/app/pages/donations/detail-donation-page/detail-donation-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/donations/detail-donation-page/detail-donation-page.component.ts
  frontend/ZeroWaste/src/app/pages/donations/donation.ts
  frontend/ZeroWaste/src/app/pages/donations/donations.routes.ts
  frontend/ZeroWaste/src/app/pages/donations/list-donation-page/list-donation-page.component.css
  frontend/ZeroWaste/src/app/pages/donations/list-donation-page/list-donation-page.component.html
  frontend/ZeroWaste/src/app/pages/donations/list-donation-page/list-donation-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/donations/list-donation-page/list-donation-page.component.ts
  frontend/ZeroWaste/src/app/pages/donations/update-donation-page/update-donation-page.component.css
  frontend/ZeroWaste/src/app/pages/donations/update-donation-page/update-donation-page.component.html
  frontend/ZeroWaste/src/app/pages/donations/update-donation-page/update-donation-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/donations/update-donation-page/update-donation-page.component.ts
  frontend/ZeroWaste/src/app/pages/donations_points/create-donation-point-form-page/create-donation-point-form-page.component.css
  frontend/ZeroWaste/src/app/pages/donations_points/create-donation-point-form-page/create-donation-point-form-page.component.html
  frontend/ZeroWaste/src/app/pages/donations_points/create-donation-point-form-page/create-donation-point-form-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/donations_points/create-donation-point-form-page/create-donation-point-form-page.component.ts
  frontend/ZeroWaste/src/app/pages/donations_points/detail-donation-point-page/detail-donation-point-page.component.css
  frontend/ZeroWaste/src/app/pages/donations_points/detail-donation-point-page/detail-donation-point-page.component.html
  frontend/ZeroWaste/src/app/pages/donations_points/detail-donation-point-page/detail-donation-point-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/donations_points/detail-donation-point-page/detail-donation-point-page.component.ts
  frontend/ZeroWaste/src/app/pages/donations_points/donationPoint.ts
  frontend/ZeroWaste/src/app/pages/donations_points/donations_points.routes.ts
  frontend/ZeroWaste/src/app/pages/donations_points/list-donation-point-page/list-donation-point-page.component.css
  frontend/ZeroWaste/src/app/pages/donations_points/list-donation-point-page/list-donation-point-page.component.html
  frontend/ZeroWaste/src/app/pages/donations_points/list-donation-point-page/list-donation-point-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/donations_points/list-donation-point-page/list-donation-point-page.component.ts
  frontend/ZeroWaste/src/app/pages/donations_points/update-donation-point-page/update-donation-point-page.component.css
  frontend/ZeroWaste/src/app/pages/donations_points/update-donation-point-page/update-donation-point-page.component.html
  frontend/ZeroWaste/src/app/pages/donations_points/update-donation-point-page/update-donation-point-page.component.spec.ts
  frontend/ZeroWaste/src/app/pages/donations_points/update-donation-point-page/update-donation-point-page.component.ts
  frontend/ZeroWaste/src/app/services/DonationPointService.ts
  frontend/ZeroWaste/src/app/services/DonationService.ts
Labels: enhancement, frontend

#193 Feature #174 - Criando modal para marcação de produtos
  frontend/ZeroWaste/src/app/app.component.ts
  frontend/ZeroWaste/src/app/components/navbar/navbar.component.css
  frontend/ZeroWaste/src/app/components/navbar/navbar.component.html
  frontend/ZeroWaste/src/app/components/navbar/navbar.component.spec.ts
  frontend/ZeroWaste/src/app/components/navbar/navbar.component.ts
  frontend/ZeroWaste/src/app/pages/products/detail-product-page/detail-product-page.component.css
  frontend/ZeroWaste/src/app/pages/products/detail-product-page/detail-product-page.component.html
  frontend/ZeroWaste/src/app/pages/products/detail-product-page/detail-product-page.component.ts
  frontend/ZeroWaste/src/app/pages/products/product.ts
  frontend/ZeroWaste/src/app/services/ProductService.ts
Labels: enhancement, help wanted, frontend

#194 Refatorações - SonarCloud
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/HealthCheckController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/donation_points/DonationPointsController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/donations/DonationController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/ProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/PromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/users/UserController.java
  backend/zerowaste/src/main/java/com/zerowaste/services/users/AuthenticateUserService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/users/exceptions/GenerateTokenException.java
  backend/zerowaste/src/main/java/com/zerowaste/utils/Constants.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/ZerowasteApplicationTests.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/donations/DonationControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/products/ProductControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/promotions/PromotionControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donation_points/CreateDonationPointServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donation_points/DeleteDonationPointServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donation_points/GetDonationPointByIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donation_points/GetDonationPointsServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donation_points/UpdateDonationPointServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/CreateDonationServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/DeleteDonationServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/EditDonationServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/GetDonationIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/donations/GetDonationServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/CreateProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/DeleteProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/EditProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/GetProductIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/GetProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/SetProductStatusServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/CreatePromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/DeletePromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/EditPromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionPercentageServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionProductServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetPromotionsIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/users/RegisterUserServiceTest.java
Labels: refactor, tests

#199 Feature/#177
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/broadcast/BroadcastsController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/broadcasts/CreateBroadcastListDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/models/broadcast/BroadcastEmail.java
  backend/zerowaste/src/main/java/com/zerowaste/models/broadcast/BroadcastList.java
  backend/zerowaste/src/main/java/com/zerowaste/models/product/Product.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/BroadcastEmailsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/BroadcastListsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/CreateBroadcastListService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/errors/BroadcastListProductsNotFoundException.java
  backend/zerowaste/src/main/resources/application.properties
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/CreateBroadcastListServiceTest.java
Labels: enhancement, backend

#200 Features #196 e #197 - Criar endpoints GET /products/expiring e GET /promotions/active
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/ProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/PromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/models/product/Product.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/ProductsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/PromotionsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/GetExpiringProductsService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/SetProductStatusService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/exceptions/ProductNotAvailableException.java
  backend/zerowaste/src/main/java/com/zerowaste/services/products/exceptions/ProductNotAvaliableException.java
  backend/zerowaste/src/main/java/com/zerowaste/services/promotions/GetActivePromotionsService.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/products/ProductControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/promotions/PromotionControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/GetExpiringProductsServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/products/SetProductStatusServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/promotions/GetActivePromotionsServiceTest.java
Labels: enhancement, backend, tests

#201 Feature/#178
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/broadcast/BroadcastsController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/broadcasts/UpdateBroadcastListDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/UpdateBroadcastListService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/errors/BroadcastListNotFoundException.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/UpdateBroadcastListServiceTest.java
Labels: enhancement, backend

#202 Fix: PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation

#203 Refatorações e criação de testes
  backend/zerowaste/src/main/java/com/zerowaste/config/auth/SpringSecurityConfiguration.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/HealthCheckController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/broadcast/BroadcastsController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/donation_points/DonationPointsController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/donations/DonationController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/products/ProductController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/promotions/PromotionController.java
  backend/zerowaste/src/main/java/com/zerowaste/controllers/users/UserController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/RegisterUserDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/broadcasts/CreateBroadcastListDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/broadcasts/UpdateBroadcastListDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/CreateProductDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/products/EditProductDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/models/user/User.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/UsersRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/donation_points/GetDonationPointsService.java
  backend/zerowaste/src/main/java/com/zerowaste/utils/Constants.java
  backend/zerowaste/src/main/java/com/zerowaste/utils/validation/valid_enum/EnumValidator.java
  backend/zerowaste/src/main/java/com/zerowaste/utils/validation/valid_enum/ValidEnum.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/donations/DonationControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/products/ProductControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/promotions/PromotionControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/models/UserTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/CreateBroadcastListServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/UpdateBroadcastListServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/users/AuthenticateUserServiceTest.java
Labels: refactor, backend, tests

#204 Feat/#198 - Homepage (promoções ativas & produtos a vencer)
  .vscode/launch.json
  frontend/ZeroWaste/src/app/home/home.component.css
  frontend/ZeroWaste/src/app/home/home.component.html
  frontend/ZeroWaste/src/app/home/home.component.ts
  frontend/ZeroWaste/src/app/services/ProductService.ts
  frontend/ZeroWaste/src/app/services/PromotionService.ts
Labels: enhancement, frontend

#205 Refactor #179 #180 #181 Correções relacionadas ao Broadcast.
  backend/zerowaste/src/main/java/com/zerowaste/controllers/broadcast/BroadcastsController.java
  backend/zerowaste/src/main/java/com/zerowaste/dtos/broadcasts/GetBroadcastDTO.java
  backend/zerowaste/src/main/java/com/zerowaste/models/broadcast/BroadcastEmail.java
  backend/zerowaste/src/main/java/com/zerowaste/repositories/BroadcastListsRepository.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/DeleteBroadcastListService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/GetBroadcastListByIdService.java
  backend/zerowaste/src/main/java/com/zerowaste/services/broadcasts/GetBroadcastListsService.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/controllers/broadcasts/BroadcastsControllerTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/DeleteBroadcastListServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/GetBroadcastListByIdServiceTest.java
  backend/zerowaste/src/test/java/com/zerowaste/zerowaste/services/broadcasts/GetBroadcastListsServiceTest.java
Labels: enhancement, refactor, backend, tests
